<template name="landingMain">

<section class="ct-sidebar ct-js-sidebar ct-js-background ct-u-displayNone ct-big-gallery landingMainBG">
		<div class="ct-js-owl" data-animations="true" data-height="100%" data-snap-ignore="true">
			<div class="item">
				<hr class="hr-custom ct-js-background animated" data-fx="fadeInDown" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
				<h2 class="ct-u-font2 text-uppercase animated" data-fx="flipInY">We love<br>coffee</h2>
				<p class="animated" data-fx="fadeIn">Vivamus iaculis placerat diam, laoreet posuere<br>dui aliquet ut.Praesent lacinia eleifend<br>eros, ac venenatis orci.</p>
				<a href="about.html" class="btn btn-lg btn-default animated" data-fx="fadeIn" data-hover="It's Delicious"><span>More about us</span></a>
				<hr class="hr-custom ct-js-background animated ct-u-paddingTop60" data-fx="fadeInDown" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
			</div>
			<div class="item">
				<hr class="hr-custom ct-js-background animated" data-fx="fadeInDown" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
				<h2 class="ct-u-font2 text-uppercase animated" data-fx="flipInY">Coffee<br>& Breakfast</h2>
				<p class="animated" data-fx="fadeIn"> Donec fermentum eros at mauris mollis tincidunt.<br>Sed sit amet bibendum tellus, non commodo lacus.</p>
				<a href="menu.html" class="btn btn-lg btn-default animated" data-fx="fadeIn" data-hover="It's Delicious"><span>See our menu</span></a>
				<hr class="hr-custom ct-js-background animated ct-u-paddingTop60" data-fx="fadeInDown" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
			</div>
			<div class="item">
				<hr class="hr-custom ct-js-background animated" data-fx="fadeInDown" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
				<h2 class="ct-u-font2 text-uppercase animated" data-fx="flipInY">Catering service</h2>
				<p class="animated" data-fx="fadeIn">Aliquam erat volutpat. Morbi nisl nibh, interdum<br> vitae ultricies vitae, lobortis sit amet tellus<br> mauris dolor velit.</p>
				<a href="catering.html" class="btn btn-lg btn-default animated" data-fx="fadeIn" data-hover="It's Delicious"><span>Get an estimate</span></a>
				<hr class="hr-custom ct-js-background animated ct-u-paddingTop60" data-fx="fadeInDown" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
			</div>
		</div>
	</section>

</template>